:root {
    --main-color: rgb(0, 0, 0);
    --main-color-transparent: rgba(0, 0, 0, 0.2);
    --light-color: rgb(255, 255, 255);
    --secondary-color-b: rgb(3, 104, 212);
    --secondary-color-r: rgb(204, 3, 23);
    --secondary-color-y: rgb(255, 214, 22);
    --secondary-color-o: rgb(228, 130, 76);
    --bg-color: rgb(244, 246, 247); /*background color*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 100%;
    overflow-x: hidden;
    word-wrap: break-word;
    min-height: 100vh;
}

/*header en index.html*/

.sticky-header {
    position: sticky;
    z-index: 1;
    top:  0;
    box-shadow: 0 2px 4px 0 var(--main-color-transparent);
}
  
.brand {
    font-size: 2.3rem;
    font-weight:bold;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    color: var(--light-color);
    text-align: center;
    letter-spacing: -0.1rem;
    background-image: linear-gradient(to right, var(--secondary-color-b) 60%, var(--secondary-color-y) 60%, var(--secondary-color-y) 61%, var(--secondary-color-r) 61%);
    padding: 1.4rem 0;
}

.brand span {
    font-size: 0.5em;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}


.home {
    background-color: var(--bg-color);
}
.home p {
    padding: 1.8rem;
    text-align: justify;
}

.divider {
    border: 1px solid var(--secondary-color-o);
    border-radius: 5px;
    width: 80%;
    margin: auto;
}


/*INDEX.HTML*/



.home-menu {
    text-align: center;
    padding: 10px 0;
    background-color: var(--main-color-transparent);
    border-radius: 40%;
    margin: 20px;
}

.home-menu li {
    list-style-type: none;
    text-decoration: none;
    padding: 10px 0;
}

.home-menu li a {
    text-decoration: none;
    color: var(--secondary-color-o);
    font-weight: bold;
}

.home-menu li a:hover {
    text-decoration: none;
    color: var(--secondary-color-r);   
}




footer {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--main-color);
    color: var(--light-color);
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem; 
}

footer hr {
    border-top-color:var(--light-color);
    opacity:0.5;
    margin: 0.1rem 0 2rem 0;

}

footer p {
    margin-bottom: 1.5rem;
    text-align: left;
}

footer a {
    color: var(--light-color);
    opacity:0.5;
    text-decoration: none;
}

footer a:hover {
    color: var(--secondary-color-o);
}
